# Virtual Environments
.venv/
venv/
env/

# Environment Variables / Secrets
.env
*.key
*-key.json
service-account.json

# Python Cache
__pycache__/
*.pyc

# Local Data / Generated Reports
incidents/*.json

# App internal
.adk/
app/
